doctype html
html(lang='ru')
    head
        title Hellow Work!!!
    body
        include ../layout/header
        p Lorem ipsum nulla eget, gravida proin sodales mattis lectus vivamus morbi vitae in fusce at enim fusce, sit, mattis pharetra sapien proin
