header
    .header
        nav.header__nav
            ul.header__nav-list
                li.header__nav-element
                    a.header__nav-url(href="#") link 1
                li.header__nav-element
                    a.header__nav-url(href="#") link 2
                li.header__nav-element
                    a.header__nav-url(href="#") link 3
                li.header__nav-element
                    a.header__nav-url(href="#") link 4
